body {
    display: flex;
    justify-content: center;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  
  .cv {
    background-color: var(--primary-color);
    width: 1160px;
  
    overflow: hidden;
  }
  
  /* Header */
  .cv__header {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .cv__header__person {
    display: flex;
    align-items: center;
    flex-direction: column;
  
    margin: 40px;
    margin-left: 130px;
  }
  .cv__header__person figure {
    width: 100px;
    margin: 20px;
  }
  .cv__header__person img {
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 30px #000;
  }
  .cv__header__person figure a:hover {
    cursor: zoom-in;
  }
  .cv__header__name {
    font-size: 2rem;
    letter-spacing: 2px;
    margin-bottom: 10px;
  }
  .cv__header__job {
    font-size: 1.1rem;
    font-weight: bold;
  }
  
  /* Details */
  .cv__header__details {
    width: 100%;
    padding: 20px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    background-color: var(--tertiary-color);
  }
  
  /* Body */
  .cv__body__title {
    font-family: Lato;
    padding-left: 20px;
    color: #000;
    background-color: var(--secondary-color);
  }
  .cv__body {
    display: flex;
  }
  
  /* Aside bar */
  .aside {
    color: #fff;
    display: flex;
    flex-direction: column;
    max-width: 30%;
    padding: 20px 40px 0 0;
    text-align: justify;
  }
  .aside p,
  .aside ul {
    padding: 30px 20px;
    padding-left: 20px;
  }
  .aside ul {
    padding-left: 30px;
  }
  .aside:first-child p {
    text-indent: 30px;
  }
  
  /* Main */
  .cv__main {
    width: 100%;
    padding: 20px;
    background-color: #fff;
    border-right: 2px solid #000;
  }
  .cv__main .cv__body__title {
    border-left: 8px solid var(--primary-color);
  }
  .cv__content__box:hover {
    border-right: 3px solid var(--primary-color);
  }
  .cv__content__box,
  .cv__content:last-child .cv__body__title {
    margin-bottom: 20px; /* Ajout d'une marge  */
  }
  .cv__content__box ul {
    padding: 10px 50px;
  }
  .cv__content__box p {
    padding: 10px 0;
  }
  .cv__content__box:last-child {
    margin-bottom: 40px;
  }
  .cv__content__subtitle {
    margin: 20px 0;
  }
  
  /* Footer */
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
  }
  .footer__socials {
    padding: 10px;
    display: flex;
    gap: 15px;
  }
  .footer__socials img {
    width: 40px;
  }
  .footer__socials img:hover {
    opacity: 0.8;
  }
  .footer__description {
    color: #fff;
  }